.win-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 800;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.737);

  border:2px solid aqua;
  p{
    font-size:36px;
    font-weight: bold;
  }
}
