<div class="name-cont">
  <!--<mat-form-field class="example-form-field">
    <mat-label>Gib Deinen Name ein:</mat-label>
    <input matInput type="text" [(ngModel)]="value"  (click)="value=' '">





  </mat-form-field>-->
  <button class="button"mat-stroked-button (click)="generateGame()">Spiel generieren</button>
  <mat-form-field class="example-form-field">
    <mat-label>Gib die Spiel-ID ein:</mat-label>
    <input matInput type="text" [(ngModel)]="value"  (click)="valueReset()" >





  </mat-form-field>
  <button class="button"mat-stroked-button (click)="gameExists(value)">Spiel beitreten</button>
  <p style="color: red;">{{ErrorID}}</p>


</div>
<button (click)="exit()" class="exit">x</button>


<!--<section class="example-section" class="player-cont">
  <label class="example-margin">Verfügbare Spieler - wähle einen:</label>
  <mat-radio-group [(ngModel)]="selectedPlayer">
    <div *ngFor="let player of players" class="playerlist" >
      <mat-radio-button class="example-margin " value="{{player}}"><p class="playername">{{player}}</p></mat-radio-button>

  </div>

  </mat-radio-group>
  <button class="button"mat-stroked-button (click)="sendInfos()">Spielen</button>
</section>-->

