<div class="cont-main">
  <p>
    <mat-toolbar class="stretch">
      <button
        mat-icon-button
        (click)="startGame()"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        Neues Spiel
      </button>
      <span>My Poke Top Trump</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        (click)="toggleCardView()"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Meine Karten:{{ cards_1.length }}
      </button>

      <button
        mat-icon-button
        [routerLink]="['']"
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        Exit
      </button>
    </mat-toolbar>
  </p>

  <div class="flex">
    <mat-card class="card-cont" >
      <mat-card-header class="header-card" *ngIf="open1">
        <mat-card-title>{{ cards_1[0]?.name }}</mat-card-title>
      </mat-card-header>
      <img
        *ngIf="open1"
        mat-card-image
        (load)="imageLoaded = true"
        [src]=' cards_1[0]?.src '
        alt="Photo of a Shiba Inu"
        />
      <mat-card-content class="card-content" *ngIf="open1">

        <div
          (click)="log('Gewicht')"
          [ngClass]="{ 'hover-background': active }"
        >
          <p>Gewicht:</p>
          <p>
            {{ cards_1[0]?.Gewicht }}
          </p>
        </div>

        <div (click)="log('moves')" [ngClass]="{ 'hover-background': active }">
          <p>Moves:</p>
          <p>
            {{ cards_1[0]?.moves }}
          </p>
        </div>
        <div (click)="log('hp')" [ngClass]="{ 'hover-background': active }">
          <p>HP:</p>
          <p>
            {{ cards_1[0]?.hp }}
          </p>
        </div>
        <div (click)="log('Attacke')" [ngClass]="{ 'hover-background': active }">
          <p>Attacke:</p>
          <p>
            {{ cards_1[0]?.Attacke }}
          </p>
        </div>
        <div (click)="log('Verteidigung')" [ngClass]="{ 'hover-background': active }">
          <p>Verteidigung:</p>
          <p>
            {{ cards_1[0]?.Verteidigung }}
          </p>
        </div>
        <div (click)="log('Spez_Attacke')" [ngClass]="{ 'hover-background': active }">
          <p>Spez.Attacke:</p>
          <p>
            {{ cards_1[0]?.Spez_Attacke }}
          </p>
        </div>
        <div (click)="log('Spez_Verteidigung')" [ngClass]="{ 'hover-background': active }">
          <p>Spez.Verteidigung:</p>
          <p>
            {{ cards_1[0]?.Spez_Verteidigung }}
          </p>
        </div>


        <div (click)="log('Geschwindigkeit')" [ngClass]="{ 'hover-background': active }">
          <p>Geschwindigkeit:</p>
          <p>
            {{ cards_1[0]?.Geschwindigkeit }}
          </p>
        </div>




      </mat-card-content>
    </mat-card>
    <mat-card class="card-cont">
      <mat-card-header class="header-card" *ngIf="open2">
        <mat-card-title>{{ cards_2[0]?.name }}</mat-card-title>
      </mat-card-header>
      <img
        *ngIf="open2"
        mat-card-image
        (load)="imageLoaded = true"
        [src]=' cards_2[0]?.src '
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content *ngIf="open2">
       <div>

        <p>Gewicht:</p>
        <p>
          {{ cards_2[0]?.Gewicht }}
        </p>
      </div>

    <div >
      <p>Moves:</p>
      <p>
        {{ cards_2[0]?.moves }}
      </p>
    </div>
    <div >
      <p>HP:</p>
      <p>
        {{ cards_2[0]?.hp }}
      </p>
    </div>
    <div >
      <p>Attacke:</p>
      <p>
        {{ cards_2[0]?.Attacke }}
      </p>
    </div>
    <div>
      <p>Verteidigung:</p>
      <p>
        {{ cards_2[0]?.Verteidigung }}
      </p>
    </div>
    <div >
      <p>Spez.Attacke:</p>
      <p>
        {{ cards_2[0]?.Spez_Attacke }}
      </p>
    </div>
    <div >
      <p>Spez.Verteidigung:</p>
      <p>
        {{ cards_2[0]?.Spez_Verteidigung }}
      </p>
    </div>
    <div>
      <p>Geschwindigkeit:</p>
      <p>
        {{ cards_2[0]?.Geschwindigkeit }}
      </p>
    </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="info-cont">
    <p>{{ infoText }}</p>
    <button
      class="button"
      (click)="PCactive()"
      *ngIf="pcChoice && !move && !active && !winner"
    >
      Auswerten..
    </button>
    <button
      (click)="computerTurn()"
      *ngIf="!pcChoice && !move && PCIsactive && !winner"
    >
      PC überlege..
    </button>
    <button
      (click)="moveCards(this.cards_1, this.cards_2)"
      *ngIf="move && !PCIsactive && !winner"
    >
      Nächste Runde (Ich)
    </button>
    <button
      (click)="moveCards(this.cards_2, this.cards_1)"
      *ngIf="move && PCIsactive && !winner"
    >
      Nächste Runde(PC)
    </button>
  </div>

  <app-winnerscreen [winner]="winner" *ngIf="winner"></app-winnerscreen>
  <app-mycards

    [ngClass]="cardview?'in':'out'"
    class="mycards"
    [cards]="cards_1"
    (click)="toggleCardView()"
  ></app-mycards>
  <app-footer></app-footer>
</div>

