.stretch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

.flex{
  display:flex;
  justify-content: space-around;
}

mat-card{
  height:700px;
  width:500px;
  background-color: blanchedalmond;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  img{
    width:450px;
    height:300px;
    object-fit: contain;
    margin:16px;
  }
}

mat-card-content{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  div{
    display: flex;
  }
}

.info-cont{
  margin-top:20px;
  background: radial-gradient(circle, rgb(180, 77, 58) 0%, rgb(253, 185, 29) 50%, rgb(252, 176, 69) 100%);
  min-height:52px;
    p{color:black;}
}

app-winnerscreen{
  position:absolute;
  height:60vh;
  width:80vw;
  background-color: antiquewhite;
  opacity: 0.9;
  top:50px;
  left:10vw;
  color:black;




}

.hover-background:hover {
  background-color: rgba(255, 192, 203, 0.406);
  cursor: pointer;
}

app-mycards{
  position: absolute;
  top:160px;
  width:90vw;
  left:5vw;
  display: flex;

}
