<p>
  <mat-toolbar class="stretch">
    <button mat-icon-button (click)="startGame()" class="example-icon" aria-label="Example icon-button with menu icon">
      Neues Spiel
    </button>
    <span>Top Trump Heroes</span>
    <span class="example-spacer"></span>
    <button (click)="toggleCardview()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Meine Karten:{{cards_1.length}}
    </button>

    <button mat-icon-button [routerLink]="['']"  class="example-icon" aria-label="Example icon-button with share icon">
      Exit
    </button>
  </mat-toolbar>
</p>

<div class="flex">
  <mat-card class="example-card" >
    <mat-card-header *ngIf="open1">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{cards_1[0]?.name}}</mat-card-title>
      <mat-card-subtitle>{{cards_1[0]?.subname}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="open1" mat-card-image src="{{cards_1[0]?.png}}" alt="Photo of a Shiba Inu">
    <mat-card-content *ngIf="open1">
      <div (click)="log('Kraft')">
      <p>
       Kraft:
      </p>
      <p >
        {{cards_1[0]?.Kraft}}
       </p>
    </div>
    <div (click)="log('Faehigkeit')">
      <p>
        Fähigkeit:
       </p>
       <p>
        {{cards_1[0]?.Faehigkeit}}
       </p>
      </div>
      <div (click)="log('Groesse')">
       <p>
        Grösse:
       </p>
       <p>
        {{cards_1[0]?.Groesse}}
       </p>
      </div>
      <div (click)="log('List')">
       <p>
        List:
       </p>
       <p>
        {{cards_1[0]?.List}}
       </p>
      </div>
      <div (click)="log('Vertrauen')">
       <p>
        Vertrauen:
       </p>
       <p>
        {{cards_1[0]?.Vertrauen}}
       </p>
      </div>
    </mat-card-content>

  </mat-card>
  <mat-card class="example-card" >
    <mat-card-header *ngIf="open2">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{cards_2[0]?.name}}</mat-card-title>
      <mat-card-subtitle>{{cards_2[0]?.subname}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="open2" mat-card-image src="{{cards_2[0]?.png}}" alt="Photo of a Shiba Inu">
    <mat-card-content *ngIf="open2">
      <div>
        <p>
         Kraft:
        </p>
        <p >
          {{cards_2[0]?.Kraft}}
         </p>
      </div>
      <div>
        <p>
          Fähigkeit:
         </p>
         <p >
          {{cards_2[0]?.Faehigkeit}}
         </p>
        </div>
        <div>
         <p>
          Grösse:
         </p>
         <p >
          {{cards_2[0]?.Groesse}}
         </p>
        </div>
        <div>
         <p>
          List:
         </p>
         <p>
          {{cards_2[0]?.List}}
         </p>
        </div>
        <div>
         <p>
          Vertrauen:
         </p>
         <p>
          {{cards_2[0]?.Vertrauen}}
         </p>
        </div>
    </mat-card-content>

  </mat-card>
</div>
<div class="info-cont">
  <p>{{infoText}}</p>
</div>
<button (click)="PCactive()" *ngIf="pcChoice && !move && !active && !winner">Auswerten.. </button>
<button (click)="computerTurn()" *ngIf="!pcChoice && !move && PCIsactive && !winner">PC überlege.. </button>
<button (click)="moveCards(this.cards_1,this.cards_2)" *ngIf="move && !PCIsactive && !winner">Nächste Runde (Ich) </button>
<button (click)="moveCards(this.cards_2,this.cards_1)" *ngIf="move && PCIsactive && !winner">Nächste Runde(PC) </button>

<app-winnerscreen [winner]="winner" *ngIf="winner"></app-winnerscreen>
<!--<app-mycards [ngStyle]="{'opacity':cardview}" class="mycards" [cards]="cards_1" *ngIf="cards_1.length<4"></app-mycards>
-->
