.flex{
  display:flex;
  justify-content: space-around;
  margin:16px;
  background-color: black;
  z-index:6;
  opacity:1;
}

.card-cont{

  border:1px solid black;

  }

  mat-card{
    height:500px;
    width:250px;
    background-color: rgba(89,29,103,1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    .header-card{
    background-color: silver;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    }
    img{
      width:100%;
      height:190px;
      object-fit: contain;
      border-bottom: 1px solid black;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: silver;

    }
  }

  mat-card-content{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin-top:-10px;
      padding-bottom: 0 !important;
      background-color: white;
    div{
      display: flex;
    }
  }


.info-cont{
  margin-top:20px;
  background: radial-gradient(circle, rgb(180, 77, 58) 0%, rgb(253, 185, 29) 50%, rgb(252, 176, 69) 100%);
  min-height:52px;
    p{color:black;}
}

@media screen and (max-width:1200px){
  mat-card{
    height:350px;
    width:230px;
    img{
      width:100%;
      height:133px;
    }
}
}
@media screen and (max-width:900px){
  mat-card{
    height:340px;
    width:210px;
    img{
      width:100%;
      height:130px;
    }

}
button{
  font-size: 18px !important;
  padding: 4px !important;
}
}
@media screen and (max-width:600px){
  mat-card{
    height:280px;
    width:150px;
    img{
      width:100%;
      height:100px;
    }
}
button{
  font-size: 16px !important;

}
span{
  display: none;
}
}


