
<div class="flex" *ngFor="let card of cards" >
  <mat-card class="card-cont" (click)="firstCard(card);$event.stopPropagation()" >
    <mat-card-header class="header-card">

      <mat-card-title>{{card.name}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="card.src" >
    <mat-card-content >
      <div >
        <p>Erfahrung:</p>
        <p>
          {{ card.experience }}
        </p>
      </div>
      <div>

      <p>Gewicht:</p>
      <p>
        {{ card.Gewicht }}
      </p>
    </div>
    <div

  >
    <p>Grösse:</p>
    <p>
      {{ card.height }}
    </p>
  </div>
  <div >
    <p>Moves:</p>
    <p>
      {{ card.moves }}
    </p>
  </div>
  <div >
    <p>HP:</p>
    <p>
      {{ card.hp }}
    </p>
  </div>
  <div >
    <p>Attacke:</p>
    <p>
      {{ card.Attacke }}
    </p>
  </div>
  <div>
    <p>Verteidigung:</p>
    <p>
      {{ card.Verteidigung }}
    </p>
  </div>
  <div>
    <p>Geschwindigkeit:</p>
    <p>
      {{ card.Geschwindigkeit }}
    </p>
  </div>
    </mat-card-content>

  </mat-card>
</div>

